<div [formGroup]="formGroup" class="formfield">
    <div [ngSwitch]="formField.fieldType">
        <mat-form-field *ngSwitchCase="FieldType.Text">
            <mat-label>{{formField.name}}</mat-label>
            <textarea *ngIf="formField.isMultiline" matInput [formControlName]="formField.name"></textarea>
            <input *ngIf="!formField.isMultiline" matInput type="text" [formControlName]="formField.name">               
        </mat-form-field>
        <mat-checkbox *ngSwitchCase="FieldType.Checkbox" [formControlName]="formField.name">
            {{formField.name}}
        </mat-checkbox>
        <app-dropdown *ngSwitchCase="FieldType.DropDown" 
            [formControlName]="formField.name" 
            [options]="options" 
            [label]="formField.name" />
    </div>
</div>