<h2>{{title}}</h2>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div *ngFor="let field of formFields">
        <app-form-field [formField]="field" [formGroup]="formGroup" *ngIf="isFormFieldVisible(field)"></app-form-field>
    </div>
    <div>
        <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
    <div *ngIf="errors">
        <div *ngFor="let error of errors" class="error">
            <span>{{error}}</span><br>
        </div>
    </div>
</form>

